<launch>
    <node pkg="tf" type="static_transform_publisher" name="Base2camBase" args="0 0 0 0 0.785 0 base_link cam_base 100" />
    <node pkg="tf" type="static_transform_publisher" name="camBase2camCoord" args="0 0 0 -1.57 0 -1.57 cam_base cam 100" />

    <node name="publishFakeCameraCalibNode" pkg="searchwing" type="publishFakeCameraCalib.py" />
    <node name="simulateCameraDataStreamNode" pkg="searchwing" type="simulateCameraDataStream.py" />
    <node name="boatDetectorNode" pkg="searchwing" type="boatDetector.py" />

    <node name="visualization" pkg="rviz" type="rviz" output="screen" args="-d $(find searchwing)/config/droneAllBBFollow.rviz" />

    <group ns="videoReplaySettings">
      <param name="path" value="" />
      <param name="startpos[sek]" value="0.0" />
      <param name="rewindpos[sek]" value="13.0" />      
    </group>
</launch>
